.wrapper {
    max-width: 1246px;
    padding: 85px 15px 60px 15px;
    margin: 0 auto;
}
.category__list {
    gap: 0 60px;
    display: grid;
    grid-template-columns: repeat(3,200px);
    text-align: center;
    justify-content: center;
    margin-bottom: 70px;
    @media (max-width:842px) {
        gap: 0 10px;
    }
    @media (max-width:630px) {
        display: flex;
        gap: 0 30px;
        justify-content: space-around;
    }
    @media (max-width:478px) {
        flex-direction: column;
        gap: 20px 0;
    }
    li  {
        color: #3E424B;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 115%; 
        transition: 0.3s ease;
        position: relative;
        cursor: pointer;
        &:hover {
            color:  #BB8C5F;
        }
        @media (max-width:842px) {
            font-size: 20px;
        }
       
    }
    
}
.goods {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}
.moreBtn {
    background-image: url("../../../public/categoryGoods/showMoreBtn.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:  #BB8C5F;
    text-align: center;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    // padding: 26px 84px 24px;
    padding: 32px 0 ;
    display: block;
    margin: 0 auto;
    transition-duration: 0.3s;
    width: 370px;
    &:hover {
        opacity: 0.8;
    }
}
.noGoods {
    display: inline-block;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 500;
    justify-content: center;
    font-family: "Roboto";
}
.moreBtnClose {
    background-image: url("../../../public/categoryGoods/showMoreBtn.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:  #BB8C5F;
    text-align: center;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    // padding: 26px 112px 24px;
    padding: 32px 40px ;
    width: 370px;
    display: block;
    margin: 0 auto;
    transition-duration: 0.3s;
    &:hover {
        opacity: 0.8;
    }
}
.category__list .category__active {
    color: #BB8C5F;
    
}
.carousel {
    display: none;
    @media (max-width:1248px) {
        display: block;
    }
}
@media (max-width:1248px) {
    .moreBtn, .moreBtnClose {
        display: none;
    }
    .goods {
        display: none;
    }
    :global {
        .swiper {
            min-height: 495px;
        }
        .swiper-slide {
            display: flex !important;
            justify-content: center !important;
            @media (max-width:636px) {
                .swiper-slide {
                    width: 620px !important;
                }
            }
        }    
        
        .swiper-pagination {
            display: flex;
            gap: 0 15px;
            justify-content: center;
        }
        .swiper-pagination-bullet {
            border: 1px solid #524336;
            width: 15px !important;
            height: 15px !important;
            border-radius: 0 !important;
            background: transparent !important;
            opacity: 1 !important;
            position: relative !important;
        }
        .swiper-pagination-bullet-active {
            background-color: #BB8C5F !important;
        }

    }
}
@media (max-width: 768px) {
    .wrapper {
        padding: 60px 15px 60px 15px;
    }
}

.popup_bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: 80;
}
.popup_hide {
    display: none;
}
.popup {
    width: 691px;
    height: 460px;
    background-color: #F5F5F5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    border: #BB8C5F 2px solid;
    @media (max-width: 800px) {
        width: 440px;
        height: 450px;
        padding: 50px 40px
    }
    @media (max-width: 550px) {
        width: 400px;
        height: 480px;
        padding: 60px 30px 30px 30px;
    }
    @media (max-width: 430px) {
        width: 300px;
        padding: 60px 10px 30px 10px;
        height: 400px;
    }
    .added {
        color:  #BB8C5F;
        font-family: Roboto;
        font-size: 46px;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; 
        @media (max-width: 800px) {
            font-size: 30px;
        }
        @media (max-width: 550px) {
            font-size: 20px;
        }
    }
    .popup__image {
        max-width: 400px;
        margin: 0 auto;
        display: block;
        margin-bottom: 30px;
        @media (max-width:800px) {
            max-width: 300px;
            margin-bottom: 10px;
        }
        @media (max-width:430px) {
            max-width: 200px;
        }
    }
    .popup__buttons {
        @media (max-width: 800px) {
            display: flex;
            flex-direction: column;
            margin:  0 auto;
            gap: 30px 0;
        }
        & a:first-child {
            position: relative;
            left: -15px;
            background-image: url("../../assets/img/Subscribe/btnBg.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            color: #FAF6F2;
            font-family: Jost;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; 
            transition: 0.3s ease;
            padding: 20px 56px;
            margin-right: 25px;
            transition: all ease 0.3s;
            &:hover {
                opacity: 0.9;
            }
            @media (max-width:630px) {
                margin-right: 0px;
                position: static;
            }
            @media (max-width:430px) {
            }
            @media (max-width: 800px) {
                margin-right: 0px;
                left: 0;
                text-align: center;
            }
            @media (max-width: 430px) {
                font-size: 16px;
                background-size: contain;

            }

        }
        & button {
            background-color: transparent;
            color:  #BB8C5F;
            font-family: Jost;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; 
            @media (max-width:630px) {
                display: block;
            }
            @media (max-width: 800px) {
                text-align: center;

            }
           
        }
    }
    .close {
        position: absolute;
        top: 20px;
        right: 30px;
        cursor: pointer;
        @media (max-width: 800px) {
            top: 10px;
            right: 20px;
          
        }
        @media (max-width: 430px) {
            top: 10px;
            right: 20px;
        }
    }
}