.wrapper {
    margin: 0 auto;
    max-width: 1246px;
    padding:  50px 15px 0 15px;
    display: grid;
    gap: 0 20px;
}
.path {
    color: #D0D0D0;
    font-family: Jost;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    margin-bottom: 30px;
    a {
        color: #D0D0D0;
        font-family: Jost;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; 
        &:last-child {
            color:  #636b78;
        }
    }
}
.title {
    color: var(--txt-dark, #3E424B);
    font-family: Forum;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
    margin-bottom: 40px;
    @media (max-width:768px) {
        font-size: 50px;
    }
    @media (max-width:530px) {
        font-size: 25px;
    }
}
.cart {
    color:#3E424B;
    font-family: Jost;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; 
    margin-bottom: 20px;
    @media (max-width:830px) {
        margin-top: 30px;
    }
}
.line {
    margin: 50px 0 40px 0 ;
    @media (max-width:830px) {
        display: none;
    }
}
.userInfo {
    margin-top: 20px;
    background-color: #F5F5F5;
    height: 250px;                                                                                                                  
    padding: 40px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2,400px);
    @media (max-width:1260px) {
        max-width: 804px;
        grid-template-columns: repeat(2,350px);
    }
    @media (max-width:830px) {
        grid-template-columns: repeat(1,350px);
        height: 400px;   
        justify-content: center;
        max-width: 504px;
        margin: 0 auto 30px auto;
    }
    @media (max-width:530px) {
        padding: 15px;
    }
    @media (max-width:420px) {
        max-width: 304px;
        padding: 5px;
        grid-template-columns: repeat(1,300px);
        height: 500px; 
    }
    @media (max-width:400px) {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
        height: 500px;  
    }
    .column {
        display: flex;
        @media (max-width:830px) {
            justify-content: center;
        }
        @media (max-width:530px) {
            align-items: center;
            font-size: 24px;
        }
        @media (max-width:530px) {
            flex-direction: column;
        
            
        }
        .name {
            color:  #3E424B;
            font-family: Jost;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            margin-bottom: 10px;
            @media (max-width:400px) {
                font-size: 18px;
            }
            @media (max-width:400px) {
                text-align: center;                
            }
           
        }
        .avatar {
            max-width: 166px;
            cursor: pointer;
            @media (max-width:530px) {
                max-width: 100px;
            }
        }
        .online {
            margin-left: 17px;
            margin-top: 17px;
            display: flex;
            flex-direction: column;
            @media (max-width:830px) {
                justify-content: flex-start;
            }
            @media (max-width: 400px) {
                justify-content: center;
                margin-left: 0px;
            }
            .exit {
                margin-top: 10px;
                font-size: 20px;
                background-color: transparent;
                border: 1px solid #BB8C5F;
                padding: 5px;
                transition: all 0.3s ease;
                text-align: center;
                color: #3E424B;
                &:hover {
                    background-color: #BB8C5F;
                    color: white;
                }
            }
            .status {
                display: flex;
                gap: 0 10px;
                align-items: center;
                margin-top: 20px;
                margin-bottom: 30px;
                @media (max-width: 400px) {
                    justify-content: center;
                }
                .circle {
                    width: 12px;
                    height: 12px;
                    background-color: green;
                    border-radius: 50%;
                }
                p {
                    @media (max-width:530px) {
                        font-size: 16px;
                    }
                }
            }
            .contacts {
                & >div {
                    display: flex;
                    align-items: center;
                    color:  #3E424B;
                    font-family: Jost;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%; 
                    @media (max-width:420px) {
                        display: flex;
                        flex-direction: column;
                    }
                    p {
                        margin-bottom: 10px;
                        font-weight: 400;
                        margin-right: 10px;
                        @media (max-width: 400px) {
                            margin-right: 0px;
                        }
                    }
                }
                .contactsData {
                    color:  #3E424B;
                    font-family: Jost;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%; 
                    margin-bottom: 10px;
                    @media (max-width:530px) {
                    }
                    
                    span {
                        font-weight: 400;
                        
                    }
                    
                }
            }
        }
    }
}