* {padding:0;margin: 0;border: 0;}
*, *:before, *:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: inherit;}
/*--------------------*/
body {
    background: #EEE;
    font-family: Jost;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    color: #3E424B;
    height: 100%;
    
}
.App {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main {
    flex: 1;
}

.popup_bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: 80;
}
.popup_hide {
    display: none;
}
.popup {
    width: 691px;
    height: 460px;
    background-color: #F5F5F5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    border: #BB8C5F 2px solid;
    @media (max-width: 800px) {
        width: 440px;
        height: 450px;
        padding: 50px 40px
    }
    @media (max-width: 550px) {
        width: 400px;
        height: 480px;
        padding: 60px 30px 30px 30px;
    }
    @media (max-width: 430px) {
        width: 300px;
        padding: 60px 10px 30px 10px;
        height: 400px;
    }
    .added {
        color:  #BB8C5F;
        font-family: Roboto;
        font-size: 46px;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; 
        @media (max-width: 800px) {
            font-size: 30px;
        }
        @media (max-width: 550px) {
            font-size: 20px;
        }
    }
    .popup__image {
        max-width: 400px;
        margin: 0 auto;
        display: block;
        margin-bottom: 30px;
        @media (max-width:800px) {
            max-width: 300px;
            margin-bottom: 10px;
        }
        @media (max-width:430px) {
            max-width: 200px;
        }
    }
    .popup__buttons {
        @media (max-width: 800px) {
            display: flex;
            flex-direction: column;
            margin:  0 auto;
            gap: 30px 0;
        }
        & a:first-child {
            position: relative;
            left: -15px;
            background-image: url("../assets/img/Subscribe/btnBg.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            color: #FAF6F2;
            font-family: Jost;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; 
            transition: 0.3s ease;
            padding: 20px 56px;
            margin-right: 25px;
            transition: all ease 0.3s;
            &:hover {
                opacity: 0.9;
            }
            @media (max-width:630px) {
                margin-right: 0px;
                position: static;
            }
            @media (max-width:430px) {
            }
            @media (max-width: 800px) {
                margin-right: 0px;
                left: 0;
                text-align: center;
            }
            @media (max-width: 430px) {
                font-size: 16px;
                background-size: contain;

            }

        }
        & button {
            background-color: transparent;
            color:  #BB8C5F;
            font-family: Jost;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; 
            @media (max-width:630px) {
                display: block;
            }
            @media (max-width: 800px) {
                text-align: center;

            }
           
        }
    }
    .close {
        position: absolute;
        top: 20px;
        right: 30px;
        cursor: pointer;
        @media (max-width: 800px) {
            top: 10px;
            right: 20px;
          
        }
        @media (max-width: 430px) {
            top: 10px;
            right: 20px;
        }
    }
}

